@import url("https://fonts.googleapis.com/css?family=Cantarell");
@import "compass/css3";

* {
	box-sizing: border-box;
	font-family: "Cantarell", sans-serif;
	background-color: #EEEEEE;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}


a {
	text-decoration: none;
	color: black;
	margin-top: 15px;
}

nav {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-start;
	align-items: baseline;
}

nav a {
	color: #cccecb;
	padding: 15px;
	font-size: 1em;
}

nav a:hover {
	color: black;
}

#logo {
	color: black;
	font-size: 2em;
	border-right: 1px solid black;
}

img {
	width: 50%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 50px; 
}

#info {
	text-align: center;
	font-size: 2em;
}

@media all and (max-width: 800px) {
	.navvigation {
		justify-content: space-around;
	}
}

@media all and (max-width: 600px) {
	.navigation {
		-webkit-flex-flow: column wrap;
    	flex-flow: column wrap;
    	padding: 0;
	}
}

#contact-form input[type = "text"],
#contact-form input[type = "email"],
#contact-form input[type = "tel"],
#contact-form input[type = "url"],
#contact-form textarea {
	width:20%;
    box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}

#contact-form button[type="submit"] {
    cursor:pointer;
    width:20%;
    border:none;
    background:#991D57;
    background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}

