/*All for the navigation bar at the top*/

nav {
	width: auto;
	display: inline;
	float: right;
	position: relative;
	top: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

nav ul {
	float: right;
	margin: 0px;
	margin-right: 50px;
	/*border-bottom: 1px solid black;*/
}

nav ul li {
	float: left;
	list-style: none;
	border: 10px;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	font-family: 'Lato', sans-serif;
}

nav ul li:hover {
	background-color: #878685;
	border-radius: 2px;
}

nav ul li a {
	text-decoration: none;
	display: block;
	padding: 1 px 13 px 4 px 13 px;
	color: black;
}

#menu{
	border-bottom: 1px solid black;
}

/*For the logo*/

div img {

	height: 60px;
	width: 100px;
	margin-left: 100px;
}

#intro {
	width: 400px;
	text-align: center;
}

#intro h1 {
	margin-top: 300px;
	font-family: 'Lato', sans-serif;
}


.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	border-bottom: none;
	padding: 15px;
}

.dropdown:hover .dropdown-content{
	display: block;
}

footer p {
	float: left;
}
footer ul {
	list-style: none;
}

footer img {
	height:20px;
	width:20px;
	float: right;
	padding: 10px;
}