@import url("https://fonts.googleapis.com/css?family=Cantarell");
@import "compass/css3";

* {
	box-sizing: border-box;
	font-family: "Cantarell", sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: center;
}

body {

	background-color: #EEEEEE;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
	margin-top: 15px;
}

nav {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-start;
	align-items: baseline;
}

nav a {
	color: #cccecb;
	padding: 15px;
	font-size: 1em;
}

nav a:hover {
	color: black;
}

#logo {
	color: black;
	border-right: 1px solid black;
	line-height: 1px;
}

img {
	width: 60%;
	height: auto;
	margin: 0 auto;
	padding: 50px;
}

.container-info {
	display: inline-block;
	overflow-x: hidden;
	width: 500px;
}

.container-content,
.container-footer {
	display: block;
	width: 100%;
	overflow-x: hidden;
}

.container-content {
	height: 400px;
}

.container-footer {
	height: 150px;
	background-color: #3c3c3c;
}

.footer,
.footer a {
	margin-top: 50px;
	color: #cccecb;
}



@media all and (max-width: 800px) {
	.navvigation {
		justify-content: space-around;
	}
}

@media all and (max-width: 600px) {
	.navigation {
		-webkit-flex-flow: column wrap;
    	flex-flow: column wrap;
    	padding: 0;
	}
}
